<h1>Bottleshot details:</h1>
<br></br>
<p>Varietal: <%=@bottleshot.varietal%></p>
<p>Vintage: <%=@bottleshot.vintage%></p>
<p>Bottleshape: <%=@bottleshot.bottleshape.name%></p>
<p>Wine color: <%=@bottleshot.winecolor.name%></p>
<p>Label URL: <%=@bottleshot.label_file%></p>
<br></br>
<form action="/bottleshots/<%=@bottleshot.id%>/edit" method="GET">
  <input type="submit" value="Edit">
</form>
<form action="/bottleshots/<%=@bottleshot.id%>" method="POST">
  <input type="hidden" name="_method" value="delete" id="hidden">
  <input type="submit" value="Delete">
</form>

<p><a href="/bottleshots">Go back to my page</a></p>